<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <!-- Morris Charts CSS -->
    <link href="~/Template/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="/light-bootstrap-dashboard/assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta name="viewport" content="width=device-width">


        <!-- Bootstrap core CSS     -->
        <link href="~/Template/css/bootstrap.min.css" rel="stylesheet">

        <!--  Light Bootstrap Table core CSS    -->
        <link href="~/Template/css/light-bootstrap-dashboard.css" rel="stylesheet">

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
        <link href="~/Template/css/pe-icon-7-stroke.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mostar's Mosques</a>
               
            </div>
            <div class="collapse navbar-collapse">
               
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mostar's Mosques</p>
            </footer>
        </div>
        </div>
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>*@
        <!-- jQuery -->
    <script src="~/Template/js/jquery-1.10.2.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/Template/js/bootstrap.min.js"></script>

    <script src="~/Template/js/bootstrap-checkbox-radio-switch.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="~/Template/js/plugins/morris/raphael.min.js"></script>
        <script src="~/Template/js/plugins/morris/morris.min.js"></script>
        <script src="~/Template/js/plugins/morris/morris-data.js"></script>


</body>
</html>